@using WebPhongKham.Extension
@model IEnumerable<WebPhongKham.Models.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/areas/admin/views/shared/_layout-admin.cshtml";
    ViewBag.Title= "Danh sách khách hàng";

    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null){
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!-- Hiển thị thông báo nếu không tìm thấy kết quả -->
@if(ViewBag.Message != null)
{
    @* Thông báo không tìm thấy *@
    <div class="alert alert-warning" role="alert">
        @ViewBag.Message
    </div>
    <style>
        .card-body {
            display: none;
        }
    </style>
}

<div class="form-group">
    <a asp-action="CreateCustomer" class="btn btn-primary">Thêm khách hàng</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 style="display:inline" class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>

        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
              style="float:right" asp-action="Search" asp-controller="Customer" method="get">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2"
                       name="searchString">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

   

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoDienThoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoTien)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoDienThoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoTien)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                            <td>
                                @string.Format("{0:dd-MM-yyyy}",item.NgaySinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoDienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoTien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi.TenTinh)
                            </td>
                            <td>
                                @* asp-route-id thêm tham số id vào url  *@
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@* sử dụng view phân trang  *@
<partial name="_pager" model="@pager"/>
